<header class="l-header">
  <div class="container header__wrapper">
    <img scr="" alt="Activate Logo" />
    <ul class="main-nav">
        <a class="main-nav__link" href="#0">Updates</a>
        <a class="main-nav__link" href="#0">Sponsor</a>
        <a class="main-nav__link" href="#0">Volunteer</a>
        <a class="main-nav__link main-nav__link--button button " href="#0">Register</a>
    </ul>
  </div>
  <h1 class="t-hidden">{{ title }}</h1>
  {%- if subtitle %}<p class="subtitle t-hidden">{{ subtitle | safe }}</p>{% endif %}
</header>
