<header>
  <ul class="nav">
      <a href="nav__link">Updates</a>
      <a href="nav__link">Sponsor</a>
      <a href="nav__link">Volunteer</a>
      <a href="btn">Regiser</a>
  </ul>
  <h1>{{ title }}</h1>
  {%- if subtitle %}<p class="subtitle">{{ subtitle | safe }}</p>{% endif %}
</header>
