.event__header {
  padding-top: 130px;
  padding-bottom: 82px;
  border-bottom: 1px solid var(--color-black);
}
.event__info {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $mid) {
    flex-direction: row;
  };
}

.event__description {
  padding-right: 120px;
  padding-top: 32px;
  flex-grow: 1;
}

.event__details {
  min-width: 33%;
}

.event__header-buttons {
  display: flex;
}

.event__header-button {
  margin-right: 20px;
}

.event__date {
  margin-bottom: 24px;
}

.event__location {
  margin-bottom: 49px;
}

.event__type {
  padding-top: 47px;
}

.event__type-title {
  margin-bottom: 44px;
}

.event__track {
  margin-bottom: 60px;
}

.events-nav {
  background-color: var(--color-gray-1);
}
.events-nav__list {
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0;

  & li:first-child {
    & .events-nav__link::before {
      margin-right: 4px;
      content: "<";
      position: relative;
      top: -2px;
      font-size: 12px;
    }
  }

  & li:last-child {
    & .events-nav__link::after {
      margin-left: 4px;
      content: ">";
      position: relative;
      top: -2px;
      font-size: 12px;
    }
  }
}

.events-nav__list-item {
  &:nth-child(2) {
    color: var(--color-black);
  }
}

.events-nav__link {
  &:hover,
  &:focus {
    text-decoration: none;

    .events-nav__link-text {
      text-decoration: underline;
    }
  }
}