.l-footer {
  position: relative;
  background-color: var(--color-gray-1);
}

.footer-nav-menu {
  padding-top: 138px;
  padding-bottom: 150px;
  display: flex;
  justify-content: space-between;

  &,
  ul {
    padding-left: 0;
    list-style-type: none;
  }
}

.footer-nav-menu__subnav-title {
  margin-bottom: 23px;
}

.footer-nav-menu__subnav {
  li {
    margin-bottom: 20px;
  }
}