.past-sponsors {
  padding-top: 47px;
}

.past-sponsors__title {
  margin-bottom: 48px;
}

.past-sponsors__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  grid-gap: 24px;

  @media (min-width: $mid) {
    grid-template-columns: repeat(auto-fit,minmax(135px,1fr));
  }
}

.past-events__description {
  color: var(--color-black);
}