.past-sponsors {
  padding-top: 47px;
  padding-bottom: 108px;
}

.past-sponsors__title {
  margin-bottom: 48px;
}

.past-sponsors__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
  grid-gap: 24px;
}

.past-events__description {
  color: var(--color-black);
}