/* TYPE SCALE */
:root {
  --type-scale-14: .875rem;
  --type-scale-16: 1rem;
  --type-scale-18: 1.125rem;
  --type-scale-20: 1.25rem;
  --type-scale-24: 1.5rem;
  --type-scale-30: 1.875rem;
  --type-scale-36: 2.25rem;
  --type-scale-48: 3rem;
}

.t-banner {
  font-size: var(--type-scale-48);
}

.t-display {
  font-size: var(--type-scale-36);
}

.t-section-title {
  font-size: var(--type-scale-30);
}

.t-body-heading {
  font-size: var(--type-scale-20);
}

.t-subhead {
  font-size: var(--type-scale-18);
}

.t-body-tall {
  font-size: var(--type-scale-16);
}

.t-body {
  font-size: var(--type-scale-14);
  line-height: 1.13;
}

.t-link {
  color: var(--color-blue-0);
}

.t-hidden {
  padding: 0;
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0 0 99.9% 99.9%);
  overflow: hidden;
  border: 0;
}