/* breakpoints for media queries */
$narrow: 400px;
$mid: 740px;
$wide: 1200px;


:root {
  /* COLORS */
  --color-black: #000;
  --color-white: #fff;
  --color-blue-0: #1b2eda;
  --color-blue-1: #27a4de;
  --color-gray-0: #c4c4c4;
  --color-gray-1: #e1e1e1;

  /* FONT FAMILY */
  --font-roboto: Roboto, sans-serif;

  /* FONT WEIGHTS */
  --weight-regular: 400;
  --weight-semibold: 600;
  --weight-bold: 700;
  --weight-black: 900;
}

