@import '_base.css';
@import '_variables.css';
@import '_typography.css';
@import '_syntax.css';

@import 'modules/_button.css';
@import 'modules/_event.css';
@import 'modules/_footer.css';
@import 'modules/_hackathon.css';
@import 'modules/_header.css';
@import 'modules/_index.css';
@import 'modules/_main-nav.css';
@import 'modules/_past-events.css';
@import 'modules/_past-sponsors.css';
@import 'modules/_sponsors.css';
@import 'modules/_subscribe.css';
@import 'modules/_talk.css';

::-moz-selection {
  background-color: var(--color-white);
  color: var(--color-blue-0);
}

::selection {
  background-color: var(--color-white);
  color: var(--color-blue-0);
}

html {
  background-color: $--color-blue-1;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  min-height: 100vh;

  @media (min-width: $narrow) {
    /* font-size: 18px; */
  };
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;

  @media (min-width: $mid) {
    width: 700px;
  };
  @media (min-width: $wide) {
    width: 1100px;
  };
}

.padding-right-dt {
  padding-right: 0;

  @media (min-width: $mid) {
    padding-right: 120px;
  }
}

code {
  font-size: 0.8em;
  color: rgb(42, 65, 77);
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 4px;
  white-space: nowrap;
}

.date {
  font-size: 0.8em;
  font-style: italic;
}

pre {
  overflow: auto;
  border-radius: 6px;
  code {
    border-style: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
