.btn {
  padding-top: 27px;
  padding-bottom: 21px;
  max-width: 263px;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  font-weight: 600;
  border-radius: 10px;
  border: none;
  place-content: center;
  text-decoration: none;
  color: $primaryColor;
  background-color: $primaryBackgroundColor;

  &:hover {
    text-decoration: none;
    background-color: $primaryBackgroundColorHover;
    cursor: pointer;
  }

  &:focus {
    background-color: $primaryBackgroundColorFocus;
  }

  @include medium {
    padding-top: 32px;
    padding-bottom: 28px;
  }
}