.landing__datetime {
  margin-top: 32px;
  display: block;
  font-size: 74px;
  text-align: center;
}

.landing__location {
  margin-top: 11px;
  display: block;
  font-size: 28px;
  text-align: center;
}
.landing__contact-emai {
  font-size: 1em;
}

.landing-buttons {
  display: flex;

  @include small {
    flex-direction: column;
    align-items: center;
  }

  @include medium {
    flex-direction: row;
    justify-content: center;
  }

  @include max-width();
}

.landing-button {
  & + & {
    margin-top: 16px;
    align-items: center;
  }

  @include medium {
    & + & {
      margin-top: 0;
      margin-left: 26px;
    }
  }
}
